body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.8;
}

ul,
ol,
p {
    display: inline-block; 
    text-align: left;
    margin-left: 350px; 
    margin-right: 350px;
}